/*index responsive start*/

@media (max-width: 1350.5px){
	.cta_box h2, .cont_box_head h2 {
		font-size: 50px;
		line-height: 60px;
	}
	.cont_box_content {
    	gap: 5px;
    	flex-direction: column;
	}
	.cont_box_wrap {
    	gap: 70px;
	}
}
@media (max-width: 1310.5px){
	.creative_wrap .nav-tabs {
    	max-width: 440px;
	}
}
@media (max-width: 1280.5px){
	.intro_wrap img {
    	width: 120px;
    	border-radius: 0px 0px 0px 25px;
	}
	.intro_wrap {
    	display: flex;
    	gap: 20px;
    	padding: 10px 10px 0px 35px;
	}
	.intro_data h2 {
		line-height: 45px;
		max-width: 200px;
	}
	.personal_text {
    	padding: 35px 45px 30px;
	}
	.cta_box h2 {
		max-width: 500px;
	}
	.cont_box_head h2 {
		max-width: 325px;
	}
}
@media (max-width: 1199.5px){
	.site-navbar-wrap {
    	padding: 10px 0;
	}
	.about_me {
		margin-left: 15px;
	}
	.col-xl-2.web_filtering {
		width: 25%;
	}
	.web_head .col-xl-10.isotope_wrap {
		width: 75%;
	}
	.web_filtering::after {
  		width: calc(25% - 5px);
	}
	.row_service {
    	gap: 20px;
	}
	.cont_box_wrap {
        gap: 50px;
	}
	.cont_box {
        gap: 5%;
    }
}
@media (max-width: 1024.5px){
	
}
@media (max-width: 991.5px){
	/* .container {
    max-width: 90% !important;
	} */
	.site-navbar-wrap.scroll-static {
    	transform: none;
	}
	.site-navbar-wrap.scrolled {
		position: fixed;
    	top: 0;
	}
	.js-menu-toggle span.icon-menu {
    	font-size: 30px;
	}
	.site-mobile-menu .site-nav-wrap li.active::after {
		content: "";
		position: absolute;
		top: 12px;
		left: -10px;
		width: 13px;
		height: 8px;
		background: #ff1028;
		border-radius: 100px;
	}
	.site-navbar-wrap {
        padding: 5px 0;
    }
	.header-height {
		height: 73px;
	}
	.site-navbar-wrap {
    	margin-bottom: 73px;
	}
	.site-navbar {
    	width: 100%;
    	margin-left: 0px;
	}
	nav.site-navigation {
		float: right;
	}
	nav.site-navigation > .container {
		padding: 0px;
	}
	.site-logo {
        margin-left: 1px;
    }
	.slider {
		padding: 0px 12px 40px;
	}
	.work_scroll {
		margin-right: 35px;
		margin-top: 70px;
	}
	.slider_text {
		margin-right: 35px;
	}
	.parallax-fade-top::after {
    	width: 372px;
	}
	.parallax-fade-top {
		opacity: 1 !important;
	}
	/*  */
	.my_info {
		padding-top: 25px;
	}
	.con-wrapper {
		width: calc(100% - 100px);
		margin-left: 50px;
	}
	.intro_wrap img {
        width: 110px;
        border-radius: 0px;
    }
	.intro_data h2 {
        max-width: inherit;
    }
	.about_me {
        margin-left: 0px;
		padding-top: 65px;
    }
	.skills .sec_head {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.skills .sec_head h2::before {
		left: 0;
		right: 0;
		margin: auto;
	}
	.myskills {
		margin-top: 10px;
	}
	.section_padding {
    	padding: 70px 0;
	}
	.skills.section_padding {
		padding-bottom: 60px;
	}
	.cta_sec.section_padding {
		padding-top: 60px;
	}
	.timelines_sec {
    	padding-top: 70px;
	}
	.timeline {
    	margin: 0px 14px;
	}
	.period-upper {
    	padding: 10px 0 40px;
	}
	.period-upper .timeline-marker::before {
    	top: 65px;
	}
	.edubox {
    	margin-left: 50px !important;
    	padding: 0px 108px;
	}
	.edu-type {
    	text-align: center;
    	max-width: inherit;
	}
	.edu-description {
		text-align: center;
	}
	.row_service {
        gap: 40px;
        grid-template-columns: none;
    }
	.service_wrap:nth-child(odd) {
    	transform: none;
	}
	.service_wrap {
		padding-top: 1px;
	}
	.service_box_content {
        margin: 9px 35px 0px 30px;
    }
	.cta_sec .shape {
		opacity: 0.5;
	}
	.cta_box {
    	align-items: center;
	}
	.cta_box h2 {
        max-width: inherit;
        text-align: center;
    }
	.col-xl-2.web_filtering {
        width: 35%;
    }
	.web_filtering::after {
        width: calc(35% - 10px);
    }
	.web_head .col-xl-10.isotope_wrap {
        width: 65%;
    }
	.inside_container {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
	#number-three-tab-pane .inside_container {
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;
	}
	.cont_box {
    	flex-direction: column;
		gap: 0px;
	}
	.cont_box_head h2 {
        max-width: inherit;
        text-align: center;
    }
	.cont_box_wrap {
        gap: 50px;
        justify-content: space-around;
        padding: 50px 20px 0px;
    }
	.cont_box_content h3 {
		padding-bottom: 5px;
	}
}

@media (max-width: 767.5px){
	.header-height {
		height: 66px;
	}
	.site-navbar-wrap {
    	margin-bottom: 66px;
	}
	.site-logo {
		max-width: 140px !important;
		margin-left: 0px;
	}
	.homebg {
		background-position: -75px center !important;
	}
	.work_scroll_wrap {
		display: none;
	}
	.slider {
        padding: 0px 12px 0px;
    }
	.con-wrapper-wide {
		width: calc(100% - 20px);
		margin-left: 10px;
	}
	.sec_head {
		margin-bottom: 20px;
	}
	.sec_head h2 {
    	font-size: 30px;
	}
	.intro_box {
		padding: 0px 0px 20px;
	}
	.my_info {
        padding-top: 70px;
    }
	.intro_wrap {
        padding: 0px 10px 0px 30px;
        border-radius: 0px;
    }
	.personal_text {
        padding: 40px 40px 25px;
    }
	.intro_data h2 {
    	margin-bottom: 15px;
	}
	.details {
		padding-left: 40px;
	}
	.about_img {
        margin: 40px 0px 40px;
    }
	.about_img img{
  		margin-top: -40px;
	}
	/* .skills .sec_head {
        text-align: left;
    } */
	/* .skills .sec_head h2::before {
        right: inherit;
    } */
	.skills .sec_head + .row {
		flex-direction: column-reverse;
	}
	.myskills_ul li {
		margin: 0px 10px 10px 0px;
 	}
	.timeline {
        margin: 0px 0px;
    }
	.timeline-head {
    	display: none;
	}
	.timeline-item {
    	padding-left: 40px;
	}
	.period .timeline-content {
    	margin-left: 40px;
		padding: 15px 30px 15px;
	}
	.period .timeline-content::before {
    	left: -33px;
    	width: 33px;
	}
	.timeline h2.timeline-title {
		font-size: 26px;
		line-height: 34px;
	}
	.period {
		padding: 10px 0 30px;
	}
	.period-upper {
        padding: 10px 0 30px;
    }
	.timeline-content h3.timeline-title {
    	margin-bottom: 15px;
	}
	.timeline-item:last-child {
    	padding-bottom: 20px;
	}
	.timeline-meta {
    	margin-top: 5px;
	}
	.period-upper .timeline-marker::before {
        top: 55px;
    }
	.educations_wrapper {
    	margin-left: 0px;
		display: block;
	}
	.eduwrap {
    	padding: 60px 20px 50px;
	}
	.edubox {
		margin-left: 0px !important;
        padding: 0px 100px;
    }
	.edu-type {
    	font-size: 26px;
    	line-height: 34px;
	}
	.edu-year {
    	font-size: 30px;
		padding: 10px 10px 10px;
	}
	.edubox::after {
    	top: 30px;
	}
	.slick-arrow.slick-prev::after {
    	background: url(../images/icon/arrow-l-blk.svg);
	}
	.slick-arrow.slick-next::after {
		background: url(../images/icon/arrow-r-blk.svg);
	}
	.slick-arrow.slick-next::after, .slick-arrow.slick-prev::after {
        width: 10px;
        height: 14px;
        background-size: 10px;
    }
	.edu_slide .slick-arrow.slick-prev {
		right: inherit;
        left: -5px;
        top: 30px;
    }
	.edu_slide .slick-arrow.slick-next {
        left: inherit;
        bottom: inherit;
        right: -10px;
		top: 47px;
		position: absolute;
	}
	.row_service {
        gap: 30px;
	}
	.service_box_text h2 {
    	font-size: 24px;
	}
	.service_box_content {
        margin: 9px 40px 0px 40px;
    }
	.cta_box h2, .cont_box_head h2 {
        font-size: 35px;
        line-height: 45px;
    }
	/*  */
	.creative_sec .tab-content {
		padding-top: 10px;
	}
	.creative_sec .sec_head, .web_sec .sec_head {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.creative_sec .sec_head h2::before, .web_sec .sec_head h2::before {
		left: 0;
		right: 0;
		margin: auto;
	}
	.accordion-button {
		font-family: 'Ubuntu', sans-serif;
		font-weight: 500;
		color: #000;
		padding: 15px 20px;
		border: 2px solid #fff;
		background-color: #e3e5f0;
		background-image: -moz-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: -ms-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: -webkit-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
	}
	.accordion-button:focus {
		box-shadow: none;
		border-color: #fff;
	}
	.accordion-button:not(.collapsed) {
		color: #fff;
    	background: #ff1028;
		border-bottom: none;
	}
	.accordion-button:not(.collapsed):after {
		filter: brightness(100);
	}
	.creative_wrap .accordion-collapse {
		padding: 0px;
	}
	.inside_container {
    	padding: 9px 2px 0px;
	}
	/*  */
	.shape {
    	opacity: 0.7;
	}
	.web_sec .con-wrapper-wide {
		width: calc(100% - 100px);
		margin-left: 50px;
	}
	.web_head {
    	flex-direction: column;
		margin: 0px;
	}
	.web_head .col-xl-10.isotope_wrap, .col-xl-2.web_filtering {
        width: 100%;
		padding: 0px !important;
    }
	.row.isotope {
		min-height: inherit;
		margin: 0px !important;
	}
	.row.isotope > div {
		padding: 5px;
	}
	.web_filtering::after {
		display: none;
	}
	.filtering {
		position: inherit;
		top: inherit;
		border: none;
        animation: none;
        opacity: 1 !important;
        scale: 1 !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
		margin: 10px 5px 25px;
        padding: 24px 10px 24px;
        background-color: #fff;
	}
	.web_filtering span {
		display: block;
		text-align: center;
		font-size: 15px;
		text-transform: capitalize;
		letter-spacing: 0px;
		margin-bottom: 0px;
		cursor: pointer;
		position: relative;
		color: #000 !important;
		min-width: 135px;
		padding: 10px 20px;
		margin: 5px;
		border-radius: 0px;
		background-color: #e3e5f0;
		background-image: -moz-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: -ms-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: -webkit-linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
		background-image: linear-gradient(225deg, rgba(255, 244, 228, 0.5) 7.1%, rgba(240, 246, 238, 0.5) 67.4%);
	}
	.web_filtering span.active {
		color: #fff !important;
		background-color: #1e1e1e;
		background-image: none;
		--tw-shadow: var(--tw-shadow-colored);
		--tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -4px rgba(0, 0, 0, .1);
		--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
		box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
	}
	.project_item {
    	margin-top: 0px;
	}
	.project_info {
		box-shadow: 0px 2px 5px rgb(0 0 0 / 10%);
	}
	.web_filtering span.active::after {
		display: none;
	}
	/*  */
	.cont_box_head {
    	padding: 30px;
	}
	.cont_box_wrap {
        justify-content: space-between;
    }
	.cont_box_content h3 {
		font-size: 24px;
	}
	.footer {
		padding: 10px 0px 30px;
	}
	.footer_box {
    	flex-direction: column-reverse;
	}
	.copy_right {
    	text-align: center;
		letter-spacing: 1px;
	}
	.move {
		transform: translateY(-30px);
		background: #fff;
		border-radius: 100px;
		padding: 10px 15px 10px 20px;
	}
	.move a {
    	color: #000;
    	display: block;
    	text-transform: uppercase;
    	transform: translateY(5px);
	}
	.move a span {
		margin-left: 0px;
	}
	.homebg, .firefox .homebg, .safari .homebg {
		background-position: center top !important;
		background-image: url('../images/homebg-small.jpg') !important;
	}
}

@media (max-width: 680.5px){
	.cont_box_wrap {
        flex-direction: column;
		gap: 40px;
        justify-content: space-between;
        padding: 50px 10px 0px;
    }
	.cont_box_content {
		gap: 0px;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}
	.cont_box_content_img {
		text-align: center;
		display: flex;
		justify-content: center;
		flex: 1;
	}
	.cont_box_content_img:first-child img {
    	height: 40px;
	}
	.cont_box_content_img img {
    	transform: translateY(-5px);
	}
	.cont_box_text {
		flex: 4;
	}
	.cont_box_content h3 {
        padding-bottom: 0px;
    }
	.cont_box_content .con_info {
		padding-left: 0px;
		margin-left: 0px;
		border-left: none;
	}
	ul.con_info {
		margin-top: 20px;
	}
	.con_info li a {
		margin-bottom: 5px;
	}
	ul.sol_info {
    	display: flex;
		flex-wrap: wrap;
	}
}

@media (max-width: 575.5px){
	.site-wrap:before {
    	background: rgba(0, 0, 0, 0.5);
	}
	.con-wrapper {
        width: 100%;
        margin-left: 0px;
    }
	.myskills_ul li {
    	font-size: 15px;
 	}
	.personal_text {
        padding: 40px 20px 25px;
    }
	.details {
        padding: 0px 10px 0px 20px;
    }
	.intro_wrap {
		padding: 0px 10px 0px 10px;
	}
	.edubox {
        padding: 0px 20px;
    }
	.edutext {
    	padding: 20px 20px 10px;
	}
	.service_box_content {
        margin: 9px 20px 0px 20px;
    }
	.service_box_icon img {
    	width: 30px;
	}
	.service_box_icon {
		width: 110px;
		height: 50px;
		bottom: -25px;
		right: -15px;
	}
	.service_wrap:hover .service_box_icon {
    	width: 120px;
	}
	.web_sec .con-wrapper-wide {
        width: calc(100% - 60px);
        margin-left: 30px;
    }
	.cont_box {
        padding: 0px 30px;
    }
	.inside_container_img img {
		filter: brightness(0.9);
	}
	.cta_box h2, .cont_box_head h2 {
		font-size: 30px;
		line-height: 40px;
	}
}

@media (max-width: 480.5px){
	/* .homebg {
        background-position: -110px center !important;
    } */
	.about_img img {
    	max-width: 200px;
	}
	/* .intro_wrap img {
		width: 80px;
	} */
	.intro_wrap {
        gap: 15px;
	}
	.con-wrapper-wide, .web_sec .con-wrapper-wide {
        width: 100%;
        margin-left: 0px;
    }
	.eduwrap {
        padding: 50px 10px 50px;
    }
	.row_service {
        gap: 25px;
    }
	.service_box_content {
        margin: 9px 15px 0px 15px;
    }
	.period .timeline-content {
        margin-left: 0px;
        padding: 15px 30px 15px 35px;
    }
	.timeline-item {
        padding-left: 30px;
    }
	.period .timeline-content::before {
        left: -23px;
        width: 23px;
    }
	#number-three-tab-pane .inside_container {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
	.livebox {
		top: -26px;
		border: 6px solid #fff;
	}
	.cont_box {
        padding: 0px 5px;
    }
}

@media (max-width: 420.5px){
	/* .homebg {
        background-position: -120px center !important;
    } */
	.intro_data h2 {
        margin-bottom: 10px;
		font-size: 32px;
		line-height: 40px;
    }
	.period .timeline-content {
        padding: 25px 40px 24px 45px;
    }
	.period-upper .timeline-marker::before {
        top: 76px;
    }
}
@media (max-width: 382px){
	.period-upper .timeline-marker::before {
        top: 93px;
    }
}
@media (max-width: 359px){
	.section_padding {
        padding: 60px 0;
    }
	.skills.section_padding {
		padding-bottom: 50px;
	}
	.cta_sec.section_padding {
		padding-top: 50px;
	}
	.my_info, .about_me, .timelines_sec {
        padding-top: 60px;
    }
	.about_img {
        margin: 50px 0px 40px;
    }
	.eduwrap {
        padding: 50px 10px 50px;
    }
	.contact_sec {
		padding-bottom: 70px;
	}
	/*  */
	/* .homebg {
        background-position: -135px center !important;
    } */
	.personal_text {
        padding: 40px 15px 25px;
    }
	.details {
        padding: 0px 10px 0px 15px;
    }
	.intro_wrap {
        padding: 0px 0px 0px 5px;
    }
	.intro_wrap {
        gap: 10px;
    }
	.intro_wrap img {
        width: 80px;
    }
	.intro_data h2 {
        font-size: 30px;
    }
	.row_service {
        gap: 20px;
    }
	.web_filtering span {
        min-width: inherit;
        width: 120px;
	}
	.cont_box_wrap {
        padding: 50px 10px 0px 0px;
    }
	.cont_box_content_img:first-child img {
        height: 32px;
    }
	.cont_box_content_img img {
        transform: none;
    }
	.cont_box_content {
        gap: 10px;
    }
	.cont_box_content_img {
        flex: 0;
        margin-left: 4px;
    }
}




/*==============================================================================*/

